<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
</head>

<body>

    <body>

        <div>
            <h1>Pokédex</h1>
        </div>

        <div>
    
            <% results.forEach((pokemon, index)=> { %> 
                
                <div>
                    <a href="/pokemon/<%= pokemon.name %>">
                        <%= pokemon.name %>
                    </a>
                </div>

                <% }) %>
        </div>

    </body>


</body>

</html>